<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/styles/base.css" asp-append-version="true">
    @await RenderSectionAsync("Head", false)
    <title>@ViewData["Title"] - Storage</title>
</head>
<body>
@if (User.Identity?.IsAuthenticated ?? false) {
    <header>
        <nav>
            <div class="left">
                <a href="/home">Home</a>
            </div>
            <div class="right">
                <profile-modal/>
            </div>
        </nav>
    </header>
}
@RenderBody()
<script src="~/scripts/module.mjs" asp-append-version="true" type="module"></script>
<script src="~/scripts/helpers.js" asp-append-version="true"></script>
<script src="~/scripts/base.js" asp-append-version="true"></script>
@if (User.Identity?.IsAuthenticated ?? false) {
    <script src="~/scripts/logged-in-base.js" asp-append-version="true"></script>
    <script src="~/scripts/components/index.js" asp-append-version="true"></script>
}
@await RenderSectionAsync("Scripts", false)
</body>
</html>